<div class="container mt-4">
  <form (ngSubmit)="saveEmployee(employeeForm)" #employeeForm="ngForm" class="form">
    <h2>Crea Nuovo Dipendente</h2>
    <div class="input-container mb-3">
      <label>Nome Completo</label>
      <input type="text" class="form-control" required [(ngModel)]="employee.fullname" name="fullname">
    </div>

    <div class="input-container mb-3">
      <label>Email</label>
      <input type="email" class="form-control" required [(ngModel)]="employee.email" name="email">
    </div>

    <div class="input-container mb-3">
      <label>Genere</label>
      <select class="form-select" required [(ngModel)]="employee.gender" name="gender">
        <option value="">-- Seleziona --</option>
        <option value="Male">Maschio</option>
        <option value="Female">Femmina</option>
      </select>
    </div>

    <div class="input-container mb-3">
      <label>Indirizzo</label>
      <input type="text" class="form-control" required [(ngModel)]="employee.address" name="address">
    </div>

    <div class="input-container mb-3">
      <label>Hobby</label>
      <select class="form-select" required [(ngModel)]="employee.hobbyId" name="hobbyId">
        <option value="">-- Seleziona Hobby --</option>
        <option *ngFor="let hobby of hobbies" [value]="hobby.valore">{{ hobby.valore }}</option>
      </select>
    </div>

    <div class="input-container mb-3">
      <label>Paese</label>
      <select class="form-select" required [(ngModel)]="employee.countryId" name="countryId">
        <option value="">-- Seleziona Paese --</option>
        <option *ngFor="let country of countries" [value]="country.valore">{{ country.valore }}</option>
      </select>
    </div>

    <div class="input-container mb-3">
      <label>Contratto ID (opzionale)</label>
      <input type="number" class="form-control" [(ngModel)]="employee.contrattoId" name="contrattoId">
    </div>

    <button type="submit" class="submit btn btn-success">Salva</button>
  </form>
</div>
